* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 3px solid red; */
}

body {
  font-family: "Courier New", Courier, monospace;
  line-height: 1.5;
}

.nav {
  height: 5rem;
  background: #222;
  padding: 1rem 0;
}

.nav-title {
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 700;
  color: #fff;
  letter-spacing: 2px;
}

.nav-center {
  width: 90vw;
  max-width: 1170px;
  margin: 0 auto;
}

.hero {
  background: linear-gradient(
      to right,
      rgba(105, 62, 27, 0.5),
      rgba(105, 62, 27, 1)
    ),
    url("./hero-bcg.jpg") center/cover;
  min-height: calc(100vh - 5rem);
}

.hero-center {
  width: 90vw;
  max-width: 1170px;
  margin: 0 auto;
  color: #fff;
  padding-top: 4rem;
}

h1 {
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-bottom: 1rem;
}

p {
  max-width: 35em;
  margin-bottom: 2rem;
}

.hero-btn {
  background: transparent;
  color: #fff;
  text-transform: uppercase;
  padding: 10px;
  border: 1px solid #fff;
  letter-spacing: 2px;
}
